@CHARSET "UTF-8";

#conteudo {
	margin-top: 35px;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

/* Reescrita Bootstrap */

.navbar-default {
	background: #FFF;
}

.sidebar ul li a.active {
	background-color: #4db1e2;
    color: #fff;
}

.nav > li > a:FOCUS, .nav > li > a:HOVER {
	background: #008FD5;
	color: #FFF;
}

a {
	color: #7c899c;
}

.sidebar ul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-list {
	padding: 1px 5px;
}

.btn-default {
	border-color: #007AFF;
	color: #007AFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	border-color: #3395ff;
	color: #3395ff;
}

.form-control {
	border-radius: 0;
}

.form-control:focus {
	background-color: #f8f8f8;
	border-color: #a09fa5;
	-webkit-box-shadow: none;
          box-shadow: none;
}